<div class="imgThumb pairThumb">
    <img class="imgSize" 
        ng-src="{{ $ctrl._details.poster_path?'http://image.tmdb.org/t/p/w185/'+$ctrl._details.poster_path : '../../../assets/img/notAvaliable_opt.png' }}" alt="">
</div>
<div class="contentThumb pairThumb">
    <div class="titleVote">
        <div class="movieTitle">{{ $ctrl._details.title || $ctrl._details.name}}</div>
        <div class="movieVote">{{ $ctrl._details.vote_average }}</div>
    </div>
    <div class="detailsMovie"> {{ $ctrl._details.runtime }} | {{ $ctrl._details.release_date || $ctrl_details.first_air_date }} | {{ $ctrl._details.genre }}</div>
    <div  class="movieOverview">{{ $ctrl._details.extra }}-{{ $ctrl._details.overview.substring(0,100) }}...</div>
    <div class="trailFav">
        <div class="trailerDiv">
            <button class="button" ng-click="$ctrl.watchTrailer()">Watch Trailer</button>
        </div>
        <div class="favoriteDiv" ng-click="$ctrl.addToFavorites($ctrl._details)">
            Add to Favorites
            <i class="fa fa-heart" ng-style="$ctrl.styleFav" style="font-size: 16px"></i>
        </div>
    </div>
</div>
