<section class="filter-section">
    <div class="year">
        <p class="yearText">Año</p>
        <select class="yearSelect"
            ng-change="$ctrl.selectedYear($ctrl.year)" 
            ng-model="$ctrl.year">
            <option ng-repeat="option in $ctrl.years" value="{{option}}">{{option}}</option>
        </select>
    </div>
    <div class="genre">
        <p class="genreText">Genero</p>
        <select class="genreSlect" 
            ng-change="$ctrl.selectedGenre($ctrl.genre)" 
            ng-model="$ctrl.genre">
            <option value="" disabled selected>Filtrar por..</option>
            <option ng-repeat="option in $ctrl.genreList" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
</section>