<section class="filter-section">
    <div class="year">
        <p class="yearText">Year</p>
        <select class="yearSelect"
            ng-change="$ctrl.onSelectedYear()" 
            ng-model="$ctrl.year">
            <option value="" selected>{{ $ctrl.currentYear }}</option>
            <option ng-repeat="option in $ctrl.yearsArray track by $index" value="{{ option }}">{{ option }}</option>
        </select>
    </div>
    <div class="genre">
        <p class="genreText">Genre</p>
        <select class="genreSlect" 
            ng-change="$ctrl.onSelectedGenre()" 
            ng-model="$ctrl.genre">
            <option value="" disabled selected>Filtrar por..</option>
            <option ng-repeat="genre in $ctrl._genres" value="{{ genre.id }}">{{ genre.name }}</option>
        </select>
    </div>
</section>